<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/styles/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p></p>
    </footer>
    <script src="{{ '/scripts/script.js' | relative_url }}"></script>
</body>
</html>
